<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <input class="pull-right" type="text" name="filter" id="Filter" ng-model="vm.filter"
               placeholder="Filter contacts"/>
    </div>
    <div class="col-sm-offset-1 col-sm-10">
        <table class="table table-striped">
            <thead>
            <tr>
                <th ng-click="vm.orderBy('id')">#</th>
                <th ng-click="vm.orderBy('firstName')">First</th>
                <th ng-click="vm.orderBy('lastName')">Last</th>
                <th ng-click="vm.orderBy('phone')">Phone</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="contact in vm.contacts | orderBy: vm.predicate : vm.reverse | filter: vm.filter">
                <td>{{ contact.id }}</td>
                <td>{{ contact.firstName }}</td>
                <td>{{ contact.lastName }}</td>
                <td>{{ contact.phone }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>